body {
  font-size: 14px;
}

h1, h2 {
  font-size: 18px;
}

h1 {
  line-height: 1.4;
}

h4 {
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 4px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 14px;
}

p {
  margin-bottom: 16px;
}