.form.form-request-information, .thank-you {
  max-width: 570px;
  margin: 0 auto;
  padding: 56px 0 57px;
}

.form.form-request-information {
  text-align: center;
}

.thank-you {

  .text {
    font-size: 20px;
  }
}